---
layout: page
title: About
permalink: /about/
in_nav: true
---

<strong>Note: </strong>We are Swiss and can not use 100% correct English

<p>
  We are TheMCBrothers.<br>
  We love playing Minecraft and we build a lot of things
</p>

<h3>Members</h3>
<table class="members">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th>Social Media</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="{{ '/assets/img/profile/TheMCLoveMan.jpg' | relative_url }}" alt="TheMCLoveMan" class="about-profile-picture"></td>
      <td>TheMCLoveMan</td>
      <td>Active</td>
      <td>Programs everything</td>
      <td>
        <a href="https://www.youtube.com/themcloveman">{% include icons/youtube.svg %}</a>
        <a href="https://www.twitch.tv/themcloveman_">{% include icons/twitch.svg %}</a>
        <a href="https://www.twitter.com/TheMCLoveMan">{% include icons/twitter.svg %}</a>
      </td>
    </tr>
    <tr>
      <td><img src="{{ '/assets/img/profile/TheMCCrazyMan.jpg' | relative_url }}" alt="TheMCCrazyMan" class="about-profile-picture"></td>
      <td>TheMCCrazyMan</td>
      <td>Active</td>
      <td>Is responsible for texturing</td>
      <td>
        <a href="https://www.youtube.com/channel/UC75LB7rcJs7Ciu5YuN_Tsag">{% include icons/youtube.svg %}</a>
        <a href="https://www.twitch.tv/themccrazyman">{% include icons/twitch.svg %}</a>
        <a href="https://www.twitter.com/TheMCCrazyMan">{% include icons/twitter.svg %}</a>
      </td>
    </tr>
    <tr>
      <td><img src="{{ '/assets/img/profile/TheMCLaserMan.jpg' | relative_url }}" alt="TheMCLaserMan" class="about-profile-picture"></td>
      <td>TheMCLaserMan</td>
      <td>Inactive</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
