body {
	background: #eee;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #51AD51;
	transition: color .5s ease;
}

a:hover {
	color: #66DA66;
}

nav.nav-2 {
	z-index: 10;
	font-family: sans-serif;
	text-align: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 40px;
	background: #ddd;
}

nav.nav-2>ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	background: #ddd;
	border-radius: 5px;
}

nav.nav-2>ul>li {
	display: list-item;
	float: left;
	position: relative;
	transition: background .5s ease;
}
nav.nav-2>ul>li:hover {
	background: #d5d5d5;
	border-radius: 5px;
}

nav.nav-2>ul>li a {
	display: block;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

nav.nav-2>ul>li a.active {
	background: #fff;
	color: #000;
}

.header-image {
	position: relative;
	background-color: #222222;
	background-image: url("assets/img/banner.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 185px;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 20;
}

.header-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 721px;
	width: 90%;
	height: 120px;
	background-color: transparent;
	background-image: url("assets/img/logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 22;
}

section {
	position: relative;
	padding: 5px;
	width: 95%;
	max-width: 980px;
	left: 50%;
	min-height: 100px;
	transform: translateX(-50%);
}

footer {
	border-top: 1px solid #000;
	position: relative;
	text-align: center;
	padding: 5px;
	width: 95%;
	max-width: 980px;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	font-size: 36px;
	padding: 10px 0 0 0;
	margin: 0;
}

time.dt-published {
	color: #666;
	font-size: 14px;
}

ul.post-list {
	list-style: none;
	padding: 0;
}

ul.post-list li {
	margin: 20px 0 20px 0;
}

ul.post-list li h3 {
	margin: 0;
}

span.post-meta {
	color: #666;
	font-size: 14px;
}

code {
	padding: 2px;
	background: #fff;
	border: 1px solid #333;
	border-radius: 3px;
}

pre {
	padding: 2px;
	background: #fff;
	border: 1px solid #333;
	border-radius: 3px;
}

pre code {
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
}
